body{background: linear-gradient(90deg,#22c1c3,#fdbb2d);}
h1{color:darkmagenta; background: ; text-align: center;}
h3{color:purple; font-size:28px;}
p{color:firebrick; font-size:20px;}
li{color:purple; font-size:25px;}